{% extends "petsitters/layout.html" %}


{% block body %}
<div class="container">
	<div class="py-4">
		{% if user.username == username %}
			<h1>Your reviewed Pet Sitters</h1>
		{% else %}
			<h1>Pet Sitters that <span class="text-primary">{{  username  }}</span> has reviewed</h1>
		{% endif %}
	</div>
	
	<div class="list-group">
	  	{% for userReview in userReviews%}
			<a href="{% url 'petsitter' userReview.petsitter.pk %}" class="list-group-item list-group-item-action d-flex justify-content-between">
				<div>{{  userReview.petsitter.name  }}</div>
                <div>"{{  userReview.comment  }}"</div>
				<div>
					{% for i in "12345" %}
						{% if forloop.counter <= userReview.rating %}
							<i class="fas fa-star" style="color: orange;"></i>
						{% else %}
							<i class="fas fa-star"></i>
						{% endif %}
					{% endfor %}
				</div>
			</a> 
        {% empty %}
	  		<h3>No book review yet!</h3>
	  	{% endfor%}
	</div>
</div>
    

{% endblock %}